<div class="header">
    <div class="container">
        <h1 class="logo">{{ site.name[page.language] }}</h1>
        <h2>{{ site.description[page.language] }}</p>
            <nav class="nav-collapse">
                <ul class="noList">
                    {% for link in site.navigation %}{% assign current = nil %}{% if page.url contains link.url or forloop.first and page.url == '/' or page.url == 'index.html' %}{% assign current = 'current' %}{% endif %}
                    <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                        <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                    </li> 
                    {% endfor %}
                    <!--<li> <a href="dh2019.md">DH 2019 workshop</a></li>
                         <li><a href="https://github.com/brianmaierjr/long-haul/archive/master.zip">Download Theme</a></li>-->

                </ul>
            </nav>
            <nav>
                {% assign pages = site.pages | sort: "nav-order"  %}
                {% for p in pages %}
                {% if p.language == page.language %} 
                <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
                {% endif %}
                {% endfor %}
            </nav>
            <nav class="language-switcher">
                {% if page.name contains "index" %}
                <a class="en" href="{{ site.baseurl }}/">EN</a>
                <a class="de" href="{{ site.baseurl | append: "/de" }}">DE</a>
                <a class="it" href="{{ site.baseurl | append: "/it" }}">IT</a>
                {% else %}
                <a class="en" href="{{ site.baseurl | append: page.handle }}">EN</a>
                <a class="de" href="{{ site.baseurl | append: "/de" | append: page.handle }}">DE</a>
                <a class="it" href="{{ site.baseurl | append: "/it" | append: page.handle }}">IT</a>
                {% endif %}
            </nav>

    </div>
</div><!-- end .header -->
