<!DOCTYPE html>
<html lang="{{ page.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{ page.title }} | {{ site.name[page.language] }}</title>
    <meta name="description" content="{{ site.description[page.language] }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="multilingualdh_">
    <meta name="twitter:creator" content="MultilingualDH">
    <meta name="twitter:title" content="Multilingual DH">
    <meta name="twitter:description" content="Digital humanities in languages besides English">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">

  </head>
  <body>

    <nav>
      {% assign pages = site.pages | sort: "nav-order"  %}
      {% for p in pages %}
        {% if p.language == page.language %}
          <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
    <nav class="language-switcher">
      {% if page.name contains "index" %}
        <a class="eo" href="{{ site.baseurl }}/">EO</a>
        <a class="en" href="{{ site.baseurl | append: "/en" }}">EN</a>
        <a class="de" href="{{ site.baseurl | append: "/de" }}">DE</a>
        <a class="it" href="{{ site.baseurl | append: "/it" }}">IT</a>
        <a class="zh" href="{{ site.baseurl | append: "/zh" }}">ZH</a>
        <a class="ko" href="{{ site.baseurl | append: "/ko" }}">KO</a>
      {% else %}
        <a class="eo" href="{{ site.baseurl | append: page.handle }}">EO</a>
        <a class="en" href="{{ site.baseurl | append: "/en" | append: page.handle }}">EN</a>
        <a class="de" href="{{ site.baseurl | append: "/de" | append: page.handle }}">DE</a>
        <a class="it" href="{{ site.baseurl | append: "/it" | append: page.handle }}">IT</a>
        <a class="zh" href="{{ site.baseurl | append: "/zh" | append: page.handle }}">ZH</a>
        <a class="ko" href="{{ site.baseurl | append: "/ko" | append: page.handle }}">KO</a>
      {% endif %}
    </nav>

    <header>
      <h1>{{ site.name[page.language] }}</h1>
      <h2>{{ site.description[page.language] }}</h2>
    </header>

    <main>
      {{ content }}
    </main>

    <!-- <footer> -->
    <!-- <small>{{ site.footer[page.language] | markdownify }}</small> -->
    <!-- </footer> -->

  </body>
</html>
